<div class="container">
  <h1 class="text-center col-5">Register</h1>
  <form class="col-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label class="form-label" for="account">Account: <i class="text-danger">(*)</i></label>
      <input type="email" class="form-control" id="account" name="account" formControlName="account">

      <div *ngIf="!registerForm.get('account')?.valid && (registerForm.get('account')?.dirty
    ||registerForm.get('account')?.touched)">
        <p class="text-danger">Account is not valid</p>
      </div>
    </div>

    <div class="mb-3" formGroupName="pwGroup">
      <label class="form-label" for="password">Password: <i class="text-danger">(*)</i> </label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password">
    </div>
    <div class="mb-3" formGroupName="pwGroup">
      <label class="form-label" for="confirmPassword">Confirm Password: </label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
             formControlName="confirmPassword">
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="registerForm.hasError('passwordnotmatch',['pwGroup'])
           && registerForm.get('pwGroup')?.touched">
      Password does not match!
    </div>
    <div class="mb-3">
      <label class="form-label" for="age">Age: <i class="text-danger">(* >18)</i> </label>
      <input type="number" class="form-control" id="age" name="age" formControlName="age">
    </div>

    <div class="mb-3 ">
      <label class="form-label" for="gender">Gender: </label>
      <input class="form-check-input " type="radio" value="male" id="gender"
             name="gender" formControlName="gender"> Male
      <input class="form-check-input" type="radio" value="female" id="gender"
             name="gender" formControlName="gender"> Female
    </div>

    <div class="mb-3">
      <label class="form-label" for="phone">Phone: </label>
      <input type="number" class="form-control" id="phone" name="phone" formControlName="phone">
    </div>

    <button type="submit" class="btn btn-primary">Thêm mới</button>
  </form>
</div>
