<footer class="bg-dark text-center text-white " style="
position:absolute; bottom:0;width:100%;height:60px;">
  <div class="container" style=" background-color: #212529">
    <section class="mb-1">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TT.2712" role="button">
        <img src="/img/facebook.png">
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/p.th.tan/" role="button">
        <img src="/img/instagram.png">
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <img src="/img/twitter.png">
      </a>



      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/to%C3%A0n-phan-thanh-96a420235/" role="button">
        <img src="/img/linkedin.png">
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/phanthanhtoan" role="button">
        <img src="/img/github.png">
      </a>
    </section>
  </div>
  <div class="text-center " style="background-color: #212529">
    Hello everyone to day i feel so good!!!
  </div>
  <div class="text-center p-2" style="background-color: #212529;">
    © 2022 Copyright:
    <a class="text-white" href="https://www.facebook.com/TT.2712">Phan Thanh Toàn</a>
  </div>
</footer>
